<div class="container">
  <form #f="ngForm" (ngSubmit)="login(f)">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <h1>Área do Eleitor</h1>
      </div>
      <div class="ui-g-12">
        <label for="nome">Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="eleitor.nome" required #nome="ngModel">
      </div>
      <div class="ui-g-12">
        <label for="cpf">CPF</label>
        <p-inputMask mask="999.999.999-99" name="cpf" placeholder="999.999.999-99" [(ngModel)]="eleitor.cpf" [cpf]="cpf"
          #cpfInput="ngModel" required></p-inputMask>
      </div>
      <div class="ui-g-12">
        <app-message [control]="nome" error="required" text="Informe um nome" *ngIf="f.submitted"></app-message>
        <app-message [control]="cpfInput" error="required" text="Informe um CPF válido" *ngIf="f.submitted"></app-message>
        <p-button label="Entrar"></p-button>
      </div>
    </div>
  </form>
</div>
