<div class="container">
  <form #f="ngForm" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Cadastro de Candidato</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="candidato.nome" #nome="ngModel" required>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cargo</label>
        <p-dropdown [options]="cargos" placeholder="Selecione" name="cargo" [(ngModel)]="candidato.cargo.id" #cargo="ngModel" required></p-dropdown>
      </div>
      <div class="ui-g-12">
        <app-message [control]="nome" error="required" text="Informe um nome" *ngIf="f.submitted"></app-message>
        <app-message [control]="cargo" error="required" text="Selecione um cargo" *ngIf="f.submitted"></app-message>
        <p-button label="Cadastrar"></p-button>
      </div>
    </div>
  </form>
</div>
