<div class="container">
  <form #f="ngForm" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Cadastro de Candidato</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input pInputText type="text" required [(ngModel)]="candidato.nome" name="nome">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cargo</label>
        <p-dropdown [options]="cargos" placeholder="Selecione" required [(ngModel)]="candidato.cargo.id" name="cargo"></p-dropdown>
      </div>
      <div class="ui-g-12">
        <p-button label="Cadastrar"></p-button>
      </div>
    </div>
  </form>
</div>