<nav class="navbar">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="menu-toggle" (click)="toggleMenu()"><i class="pi pi-bars"></i></a>
      </div>
    </div>

  <div class="side-menu" [ngClass]="{ 'exibindo-menu' : exibindoMenu }">
    <a class="menu" href="javascript:;" (click)="toggleMenu()"><i class="pi pi-times"></i></a>
    <a class="menu" href="javascript:;" (click)="toggleSubMenu('cadastro')" [ngClass]="menu === 'cadastro' ? 'ativo' : ''">Cadastro</a>
    <div *ngIf="menu === 'cadastro'">
      <a class="sub-menu" href="javascript:;" (click)="toggleMenu()" routerLink="/eleicoes/new" routerLinkActive="ativo">Eleições</a>
      <a class="sub-menu" href="javascript:;" (click)="toggleMenu()" routerLink="/cargos/new" routerLinkActive="ativo">Cargos</a>
      <a class="sub-menu" href="javascript:;" (click)="toggleMenu()" routerLink="/candidatos/new" routerLinkActive="ativo">Candidatos</a>
    </div>
    <a class="menu" href="javascript:;" (click)="toggleSubMenu('login');toggleMenu();" routerLink="/login" routerLinkActive="ativo">Área do Eleitor</a>
    <a class="menu" href="javascript:;" (click)="toggleSubMenu('login');toggleMenu();logout();" routerLink="/login" *ngIf="usuarioAtivo">Sair</a>
  </div>
</nav>
