<nav class="navbar">
  <div class="container" [ngClass]="{ 'exibindo-menu' : exibindoMenu }">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="menu-toggle" [ngClass]="{ 'exibindo-menu' : exibindoMenu }" (click)="toggleMenu()"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <div class="menu" [ngClass]="{ 'exibindo-menu' : exibindoMenu }">
    <a href="javascript:;" (click)="toggleMenu()"><i class="pi pi-times"></i></a>
    <a href="javascript:;">Eleições</a>
  </div>
</nav>
