<div class="container">
  <h2>{{ eleitor.nome }}, seja bem-vindo à Área do Eleitor</h2>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <label for="eleicao">Eleição</label>
      <p-dropdown [options]="eleicoes" placeholder="Selecione" [(ngModel)]="idEleicao" name="eleicao"
        (onChange)="selecionarEleicao()"></p-dropdown>
    </div>
    <p-panel [toggleable]="true" class="ui-g-12" *ngFor="let cargo of cargos">
      <p-header>{{ cargo.nome }}</p-header>
      <div class="ui-g">
        <p-card href="#" *ngFor="let candidato of candidatosFiltradosPorCargo(cargo)" class="ui-lg-3 ui-md-4 ui-sm-6"
          (click)="selecionaCandidato(candidato)"
          [ngClass]="{ 'selecionado' : candidatosSelecionados.includes(candidato), 'clicavel' : !protocolo.id }">
          <p-header>
            <img src="https://randomuser.me/api/portraits/men/{{candidato.id}}.jpg">
          </p-header>
          {{ candidato.nome }}<i class="pi pi-check-circle" *ngIf="candidatosSelecionados.includes(candidato)"></i>
        </p-card>
      </div>
    </p-panel>
    <div class="ui-g-12" *ngIf="idEleicao">
      <p-button label="Votar" (onClick)="votar()" [disabled]="protocolo.id"></p-button>
    </div>
  </div>
</div>
