/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategray;
}

label {
  font-weight: bold;
  margin: 10px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.container h2 {
  text-align: center;
}

.ui-card {
  cursor: pointer;
}